antlr4-python3-runtime
asgiref
certifi
cf-units
cftime
charset-normalizer
distlib
dj-database-url
Django
django-heroku
ez-setup
filelock
gunicorn
idna
Jinja2
MarkupSafe
numpy
pipenv
platformdirs
psycopg2
requests
six
sqlparse
urllib3
virtualenv
virtualenv-clone
whitenoise
