* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    min-height: 100vh;
}
/* 
.container main {
    background-image: url(https://i.imgur.com/nso0uto.jpg);
} */

.container {
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 4%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.container h1, .container h2 {
    text-align: center;
    font-weight: 500;
}

.container p {
    padding-top: 2%;
}

strong {
    font-weight: 700;
}

/* footer{
    background-color: #bacbd8;
} */

.page-footer {
    color: black;
    background-color: #bacbd8;
}

#footerRight {
    text-align: center;
    width: 100%;
    padding-right: 1%;
    padding-bottom: 1%;
    background-color: #bacbd8;
}

.nav-wrapper {
    background-color: #bacbd8;
}

.left.brand-logo, #headerRight a {
    color: black;
}

.homepageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
