{% extends 'base.html' %} 
{% block title %}
    Snowball Debt Calculator About
{% endblock %}
{% block content %}
<h1>
    About Snowball Debt Calculator
</h1>
<hr/>
<p>
    When looking at debt as a whole we here think it is best to have an easy tool to help you manage your payment plans.  We use the "Snowball Method" here on our platform. 
    <br/>
    <br/>
    <strong>
        What is the "Snowball Method"?
    </strong>
    <br/>
    <br/>
    The "snowball method," simply put, means paying off the smallest of all your loans as quickly as possible. Once that debt is paid, you take the money you were putting toward that payment and roll it onto the next-smallest debt owed. Ideally, this process would continue until all accounts are paid off. As you roll the money used from the smallest balance to the next on your list, the amount “snowballs” and gets larger and larger and the rate of the debt that is reduced is accelerated.
    <br/>
    <br/>
    <i>
        Still have questions? Feel free to email us at benjamin.hines37@gmail.com with further questions.
    </i>
</p>
{% endblock %}