{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static '/scripts/app.js'%}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    {% load static %}
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Snowball Debt Calculator</a>
            </li>
          </ul>
          <ul class="right" id="headerRight">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'addDebt' %}">Add a Debt</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            {% comment %} <li><a href="{% url 'view_debt' %}">View/Pay Debt</a></li> {% endcomment %}
            <li><a href="{% url 'logout' %}">Log-Out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log-In</a></li>
            <li><a href="{% url 'signup' %}">Sign-Up</a></li>
            {% endif %}
          </ul> 
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right" id="footerRight">All Rights Reserved, © 2022 Snowball Debt Calculator
    </footer>
  </body>
</html>