{% extends 'base.html' %} 
{% block title %}
    Snowball Debt Collector Home
{% endblock %}
{% block content %}
<h2>
    Welcome to <i>Snowball Debt Calculator</i>
</h2>
<hr/>

<div class='card' id="home">
    <div class='card-content'>
         If you are new to SDC click 
         <div class="card-action">
            <a href="{% url 'signup' %}">Click Here.</a>
            </div>
</div>
</div>
<div class='card' id='home2'>
    <div class='card-content'>
If you are a returning member please 
<div class="card-action">
    <a href="{% url 'login' %}">Click Here</a> 
    </div>
</div>
</div>
{% endblock %}