{% extends 'base.html' %} 
{% block title %}
    Snowball Debt Collector Home
{% endblock %}
{% block content %}
<h2>
    Welcome to <i>Snowball Debt Calculator</i>
</h2>
<hr/>

<div class='card' id="home">
    <div class='card-content'>
Please visit your <strong>"Dashboard"</strong> to see an overview of your current outstanding debts. 
<br />
If you you wish to add a new debt to your Snowball Debt Calculator click on the <strong>"Add a Debt"</strong> button. 
<br />
If you wish to document a payment on one of your debts please select the <strong>"View Debts"</strong> button.  Select which debt you'd like to make a payment on and select <strong>"Make Payment"</strong>.  Fill out the form and submit. 
<br />
</div>
</div>

{% endblock %}