* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    /* background-color: lightblue; */
    background-image: url(/static/images/background.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

main {
    min-height: 80vh;
}

.container, .containers {
    margin-top: 2%;
    margin-bottom: 25%;
    padding: 4%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container {
    background-color: rgba(255,255,255, .85);
}

.containers {
    background-color: white;
}

.card {
    background-color: white;
}

.container h1, .container h2 {
    text-align: center;
    font-weight: 500;
}

.container p {
    padding-top: 2%;
}

strong {
    font-weight: 700;
}

/* footer{
    background-color: #bacbd8;
} */

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 3.5rem; 
}

#footerRight {
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-right: 1%;
    padding-bottom: 1%;
    background-color: white;
    margin: 0 auto;
}

.nav-wrapper {
    background-color: white;
}

.left.brand-logo, #headerRight a {
    color: black;
}

.homepageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.displayInput input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.displayInput input[type="text"]{
    padding: 20px 2px;
    line-height: 28px;
    font-size: 1.6em;
    font-weight: 800;
    background-color: rgba(255, 136, 134, .5);
}

.displayInput {
    height: 10vh;
}

.card-action a {
    color: black !important;
    padding: 5px;
}

.card-action a:hover {
    border-radius: 5px;
    background-color: black;
    color: white !important;
}
