{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<div class='card'>
    <div class='card-content'>
        <span class='card-title'>
            {{Debt.name}}
        </span>
        <hr />
        <p>
            Total Amount: {{Debt.total}}
        </p>
        <p>
            Interest: {{Debt.interest}}
        </p>
        <p>
            Monthly Payment: {{Debt.paymentMin}}
        </p>
    </div>
    <div class="card-action">
    <a href="{% url 'debt_update' Debt.id %}">Edit</a>
    <a href="{% url 'debt_delete' Debt.id %}">Delete</a>
  </div>
</div>

{% endblock %}